
@import url('https://fonts.googleapis.com/css2?family=Popppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    font-family: 'Poppins' , sans-serif;
}



/*Global Tag*/
h1{
    font-size: 2.5rem;
    font-weight: 700;
    color: rgb(35, 35, 85);
}



span{
    font-size: .9rem;
    color: #757373;

}


h6{
    font-size: 1.1rem;
    color: rgb(24, 24, 49);
}


nav{

box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.15);
background-color: #fff;
padding: 1vw 8vw;
width: 100%;
z-index: 999;





}





nav img{
width: 100px;
}


nav .navigation ul li a{
    color: rgb(21, 21, 100);
    font-size: 16px;
    font-weight: 500;
    transition: 0.3s ease;
    
}

nav .navigation ul li a .main,
nav .navigation ul li a:hover{
    color: #FDC93B;
}

/*Home*/

#home{
    background-image: linear-gradient(rgba(9, 5 , 54 ,0.3) , rgba(5 , 4 ,46 , 0.7)) ,url("images/city-buildingimage1.jpg");
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 40px;

}

#home h2{
    color: #fff;
    font-size: 2.2rem;
    font-weight: 600;
    letter-spacing: 1px;
}
#home p{
    width: 50%;
    color: #fff;
    font-size: 0.9rem;
    line-height: 25px;
}


#home .btn{
    margin-top: 30px;

}

#home a{
   text-decoration: none;
   font-size: 0.9rem;
   padding: 13px 35px;
   font-weight: 600;
   border-radius: 5px;

}


#home .btn .blue a{
    color: #fff;
    background-color: rgb(21, 21, 100);
    transition: 0.3s ease;

}
  
.home  .btn .blue a:hover{
    color: rgb(21, 21, 100);
    background-color: #fff;
}


.home .btn .yellow a{
    color: #fff;
    background-color: #FDC93B;
    transition: 0.3s ease;

}
  
.home  .btn .yellow a:hover{
    color: rgb(21, 21, 100);
    background-color: #FDC93B;
}

/*features*/
#features{
  padding: 5vw 8vw 0 8vw; 
  text-align: center; 
}


#features .feature-base{
    margin-top: 50px;
}


#features .feature-box{
    background-color: #F9F9FF;
    text-align: start;
}

#features .feature-box i{
    font-size: 2.3rem;
    color: rgb(44, 44, 80);
}


#features .feature-box h3{
    font-size: 1.2rem;
    font-weight: 600;
    color: rgb(46, 46, 59);
    padding: 13px 0 7px 0;

}

#features .feature-box p{
    font-size: 1rem;
    font-weight: 400;
    color: rgb(70, 70, 87);
   

}


/*courses*/
#course{
    padding: 8vw 8vw 8vw 8vw; 
    text-align: center; 
  }

  #course .course-box{
    margin-top: 50px;
   
  }




  #course .course-box .course-base{
    text-align: start;
    background-color: #F9F9FF;
    height: 100%;
  }
  #course .course-base .course-box .course-card .details h6{
    font-weight: 500;
    font-size: 20px;
  }

  #course .course-base .course-box .course-card .details {
    text-align: left;
    padding: 15px 15px 0 15px;
}
  

  #course .course-base .course-box .course-card  .cost{
    text-align: center;
    background-color: rgb(74, 74,136);
    color: #fff;
    line-height: 70px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    position: absolute;
    right: 15px;
    top: 250px;
    

  }

  #course .course-base .course-box .course-card .details i{
    color: #FDC93B;
    font-size: .9rem;
  }

  /*Registration */

  #registration{
   padding: 6vw 8vw 6vw 8vw;
   background-image: linear-gradient(rgba(99,112,168,0.5), rgba(81,91,233,0.5)),url("images/apple-laptop1.jpg"); 
   width: 100%;
   height: 100%;
   background-size: cover;
   background-position: center;
   align-items: center;


  }

  #registration .reminder{
    color: #fff;
  }

  #registration .reminder h1{
    color: #fff;
  }

  #registration .row-reminder .reminder .time{
    display: flex;
    margin-top: 40px;

  }

  #registration .row-reminder .reminder .time .date{
    text-align: center;
    padding: 13px 33px;
    background-color: rgba(255, 255, 255, 0.25);
    backdrop-filter:blur(4px);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    border-radius: 10px;
    margin: 0 10px 10px 0;
    border: 1px solid rgba(255, 255, 255, 0.18);
    font-size: 1.1rem;
    font-weight: 600;


  }

  #registration .row-reminder .form{
    background-color: #fff;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    padding: 40px;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  }

  #registration .row-reminder .form input{
    margin: 15px 0;
    padding: 1px solid rgb(84, 40, 241);
    outline: none;

  } 

  #registration .row-reminder .form input::placeholder{
    color: #413c3c;
    font-weight: 500;
    font-size: 0.9rem;
    
  }
  
  #registration .row-reminder .form .btn{
    margin-top: 20px;
  }





#registration .form .btn a{
  text-decoration: none;
  font-size: 0.9rem;
  padding: 13px 35px;
  font-weight: 600;
  border-radius: 5px;
  color: #fff;
  background-color: #FDC93B;
  transition: 0.3s ease;
}



  
#registration .row-reminder .form .btn  a .yellow:hover{
    color: rgb(21, 21, 100);
    background-color: #fff;
}

/*Profile Section*/

#experts{
  padding: 8vw 8vw 8vw 8vw;
  text-align: center;
}


#experts .expert-box{
  margin-top: 50px;

}


#experts .expert-box .profile{
  background-color:#fafaf1;
  padding: 30px 10px;
}


.pro-links{
  margin-top: 10px;
}


.pro-links i{
  padding: 10px 30px;
  border: 1px solid rgb(21, 21, 100);
  cursor: pointer;
  transition: 0.3 ease;
}



.pro-links i:hover{
  background-color: rgb(21, 21, 100);
  color: #fff;
  border: 1px solid rgb(21, 21 100);
  cursor: pointer;
}


#experts .expert-box .profile img{
  border-radius: 50%;
  height: 110px;
  width: 110px;
}

/*footer*/

footer{
  padding: 8vw;
  background-color: #101c32;
  align-items: center;
  justify-content: center;
  align-content: center;

}

footer .footer-col{
  padding: 40px;
}

footer h3{
  color: rgb(241, 240,245);
  font-weight: 600;
  padding-bottom: 20px;
}

footer li{
  list-style:none;
  color: #7b838a;
  padding: 10px 0;
  font-size: 15px;
  cursor: pointer;
  transition:0.3s ease;
}

footer li:hover{
  color: rgb(241, 240,245); 
}

footer p{
  color: #7b838a;

}

footer .subscribe{
  margin-top: 20px;

}


footer input{
  width: 220px;
  padding: 15px 12px;
  border: none;
  background: #334f6c;
  outline: none;
  color: #fff;

}


footer  p:hover{
  color: rgb(241, 240,245); 
}



footer .subscribe a{
  text-decoration: none;
  font-size: 0.9rem;
  padding: 13px 35px;
  font-weight: 600;
  border-radius: 5px;
}




footer .copyright{
  margin-top: 30px;
}

footer .copyright p{
  color: #fff;
}




footer .copyright .pro-links{
  margin-top: 0px;
}


footer .copyright .pro-links i{
background-color: #5f7185;
color: #fff;
}



footer .copyright .pro-links i:hover{
  background-color: #FDC93B;
  color: #2c2c2c;
 
}




/*About-Home*/

#about-home{
  background-image: linear-gradient(rgba(9, 5 , 54 ,0.3) , rgba(5 , 4 ,46 , 0.7)) ,url("images/city-buildingimage1.jpg");
  width: 100%;
  height: 60vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 40px;

}

#about-home h2{
  color: #fff;
  font-size: 2.2rem;
  letter-spacing: 1px;
  font-weight: 600;
}

/*about-container*/

#about-container img{
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  align-items: center;
}

#about-container{
  align-items: center;
  padding: 8vw 8vw 2vw 8vw;
}


#about-container .about-image{

}





#about-container .about-text h2{
  color: #29303B;
  padding-bottom: 15px ;
  font-weight: 600;
  
}

#about-container .about-text p{
  color: #686F7A;
  font-weight: 300;
}


#about-container .about-text .about-fe{
  display: flex;
  justify-content: baseline;
  align-items: flex-start;
  margin-top: 30px;
}

#about-container .about-text .about-fe i{
margin-right: 20px;
}

#about-container .about-text .about-fe .fe-text{
  width: 90%;
}

#about-container .about-text .about-fe .fe-text h5{
  font-weight: bolder;
  color: #29303B;
  font-size: 16px;
}


#trust{
  justify-content: center;
  align-items: center ;
  padding:  8vw ;
 
}

#trust .trust-img{
  margin-top: 60px;
  align-items: center;
}






#trust .trust-img img{
  width: 120px;
  height: auto;
  align-items: center;
  justify-content: center;
  display: flex;
}


#trust h1{
  align-items: center !important;
  justify-content: center;
  align-items: center ;
  display: flex;

 
}

#trust p{
  align-items: center !important;
  justify-content: center;
  align-items: center ;
  display: flex;

 
}
/*Blog*/

#blog-conatainer{
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 8vw;
}


#blog-conatainer .blogs{
width: 60%;
}

#blog-conatainer .blogs img{
  width: 100%;
  border-radius: 19px;
}

#blog-conatainer .blogs .post{
  padding-bottom: 60px;
}
#blog-conatainer .blogs .post h3{
  color: #29303B;
  padding: 15px 0 10px 0;  
}



#blog-conatainer .blogs .post p{
  color: #757373;
  padding-bottom: 20px;
}

#blog-conatainer .blogs .post a{
  text-decoration: none;
  font-size: 0.9rem;
  padding: 13px 35px;
  background-color: rgb(21, 21, 100);
  color: #fff;
  border-radius: 5px;
  font-weight: 600;
 
 }


#blog-conatainer .cate{
  width: 30%;
}

 
#blog-conatainer .cate h2{
padding: 7px;
}

#blog-conatainer .cate a{
 text-decoration: none;
 color: #757373;
 font-weight: 500;
 line-height: 45px;
}

#blog-conatainer .cate a:hover{
  color: #FDC93B;
 }





#blog-conatainer .blogpost{
  width: 60%;
  margin: 0 auto;

}


#blog-conatainer .blogpost p{
  text-align: justify;
  padding-bottom: 60px !important;

}




/*course-inner*/

#course-inner{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 8vw;

}

#course-inner h3{
  padding: 35px 0 25px 0;
  color: #64626e;
}

#course-inner p{
  color: #29303B;
}



#course-inner hr{
  height: 1px;
  background-color: rgba(236, 226, 229, 0.5);
  margin-top: 40px;
}



#course-inner hr{
  color: #29303B;
}

#course-inner .overview{
  width: 70%;
}

#course-inner .overview .course-img{
width: 100%;
height: 60vh;
object-fit: cover;
border-radius: 12px;
margin-bottom: 20px;
}

#course-inner .overview .course-head{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

#course-inner .overview .course-head .c-name{
  width: 70%;
}

#course-inner .overview .course-head .c-name h2{
  color: #29303B;
  font-weight: 600;

}

#course-inner .overview .course-head .c-name .star{
  margin: 6px 0;
}

#course-inner .overview .course-head .c-name .star i{
  color: #FDC93B;
  font-size: 0.9rem;

}

#course-inner .overview .course-head .c-name p{
  font-size: 15px;
}

#course-inner .overview .course-head span{
  padding: 16px 22px;
  border-radius: 5px;
  color: #5838fc;
  font-size: 24px;
  font-weight: 700;
  background-color: rgba(88, 56, 252, 0.1);
}

#course-inner .overview .tutor{
  display: flex;
}



#course-inner .overview .tutor .tutor-img{
  width: 80px;
  height: 100px;
  border-radius: 50%;
  margin-right: 20px;
}


#course-inner .overview .tutor .tutor-det h5{
  font-size: 15px;
  font-weight: 600;

}

#course-inner .overview  h3{
  font-weight: 700;
  
}

#course-inner .learn p{
 font-size: 15px;  
 padding-bottom: 15px;
}

#course-inner .learn p i{
  color: #654ce5;
  font-weight: 700;
  margin-right: 20px;
}


#course-inner  .enroll {
  width: 300px;
  padding: 0 30px 30px 30px;
  border-radius: 11px;
  box-shadow: 0 20px 40px 0 rgb(11 2 55 /8%);
}

#course-inner  .enroll h3{
  padding-bottom: 10px;
  color: #000;
  font-weight: 700;
}

#course-inner  .enroll p{
  font-size: 15px;
  color: #64626e;
  margin: 15px 0;
}



#course-inner  .enroll p i{
  color: #654ce5;
  font-weight: 700;
  margin-right: 20px;
  text-align: center;
  width: 16px;
  height: 16px;
  line-height: 16px;
}

#course-inner  .enroll .enroll-btn{
  padding: 25px 0 20px 0;
  margin: auto;
  text-align: center;

}

#course-inner  .enroll .enroll-btn a{
  text-decoration: none;
  font-size: .8rem;
  padding: 13px 45px;
  border-radius: 5px;
  font-weight: 600;
  color: #fff;
  background: rgb(50, 50, 136);
}

/*contact*/

#contact {
  padding: 8vw;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

}


#contact .getin{
  width: 350px;

  margin-right: auto;
}

#contact .getin h2{
 color: #2c234d;
 font-size: 30px;
 font-weight: 800;
 line-height: .8;
 margin-bottom: 16px;
}


#contact .getin p{
  color: #686875;
  line-height: 24px;
  margin-bottom: 33px;
  padding-bottom: 25px;
  border-bottom: 1px solid #e5e4ed;
 }


 #contact .getin h3{
  color: #2c234d;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  margin-bottom: 15px;
 }

 #contact .getin .getin-details div{
  display: flex;
 }


 #contact .getin .getin-details div .get{
  font-size: 16px;
  line-height: 22px;
  color: #5838fc;
  margin-right: 20px;
 }


 #contact .getin .getin-details div p{
  font-size: 14px;
  border-bottom: none;
  line-height: 22px;
  margin-bottom: 15px;
 }


 #contact .getin .getin-details .pro-links i{
  margin-right: 8px;

 }


 #contact .form{
  width: 60%;
  background: #f7f6fa;
  padding: 40px;
  border-radius: 10px;
 }

#contact .form h4{
 font-size: 24px;
 color: #2c234d;
 line-height: 30px;
 margin-bottom: 8px;
 font-weight: 600;

}

#contact .form p{
  color: #686875;
  line-height: 24px;
  padding-bottom: 25px;
}

#contact .form .form-row{
    display: flex;
    justify-content: space-between;
    width: 100%;
   }


#contact .form .form-row input{
 width: 48%;
 font-size: 14px;
 font-weight: 400;
 border-radius: 3px;
 border: none;
 background: #fff;
 color: #7e7c87;
 outline: none;
 padding: 20px 30px;
 margin-bottom: 20px;   
    
}




#contact .form .form-col input,#contact .form .form-col textarea{
  width: 100%;
  font-size: 14px;
  font-weight: 400;
  border-radius: 3px;
  border: none;
  background: #fff;
  color: #7e7c87;
  outline: none;
  padding: 20px 30px;
  margin-bottom: 20px;   
     
 }

 #contact .form .form-col button{
  font-size: .9rem;
  padding: 13px 25px;
  background: rgb(21, 21, 100);
  border-radius: 5px;
  outline: none;
  border: none;
  font-weight: 600;
  cursor: pointer;
  color: #fff;
 }


#map{
  width: 100%;
  height: 70vh;
  margin-bottom: 8vw;
}

#map iframe{
  width: 100%;
  height: 100%;
}



 /*@media (min-width:992px) {
  #contact {
    padding: 8vw;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    align-content: space-between;
  
  }
}*/


@media (max-width:769px) {
  nav {
  padding: 15px 20px;
}

nav img {
  width: 100px;
}

#home p {
  width: 90%;
 
}
#home {
  padding-top: 0px;
}
  
#features {
  padding: 8vw 4vw 0 4vw;
  text-align: center;
}

#course {
  padding: 8vw 4vw 6vw 4vw;
 
}

#registration {
  padding: 6vw 4vw 6vw 4vw;

}

#registration .row-reminder .reminder .time {
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
}

#experts {
  padding: 8vw 8vw 4vw 8vw;
  text-align: center;
}

footer .copyright .pro-links {
  margin-top: 20px;
}

#blog-conatainer{
    padding: 8vw 4vw;
  }

  
#blog-conatainer .blogpost {
    width: 100%;
    margin-top: 30px;
}

#blog-conatainer .blogpost img {
  width: 100%;
  height: 50vh;
  object-fit: cover;
}
 /*course-inner*/
 #course-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8vw 4vw;
}

#course-inner .overview {
  width: 100%;
}

#course-inner .overview .course-img {
  width: 100%;
  height: 100vh;
 
}


#course-inner  .enroll {
 margin-top: 25px;
}

   /*contact*/
#contact {
    padding: 8vw 4vw;
}
#contact .getin {
  width: 100%;
  margin-bottom: 30px;
}

}






@media (max-width:821px) {
  #course-inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8vw 4vw;
  }
  
  #course-inner .overview {
    width: 100%;
  }
  #contact .getin {
    width: 100%;
    margin-bottom: 30px;
}
}







@media (max-width:450px) {

  #registration .row-reminder .reminder .time {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-bottom: 20px;
}

  #blog-conatainer{
    flex-direction: column;
  }

  #blog-conatainer .blogs {
    width: 100%;
  }

  #blog-conatainer .cate {
    width: 100%;
}
#blog-conatainer .blogpost {
  width: 100%;
  margin-top: 50px;
}
#blog-conatainer .blogpost img {
width: 100%;
height: 50vh;
object-fit: cover;
}
 
#course-inner .overview .course-head .c-name {
  width: 70%;
}

#course-inner  .enroll {
 width: 100%;
}

#contact .getin {
  width: 100%;
  margin-bottom: 30px;
}

}

@media (max-width:414px) {
  #contact .form {
    width: 100%;
  
  } 
  #contact .getin {
    width: 100%;
    margin-bottom: 30px;
}
}

